.navbar {
  background-color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 5;
  // padding-left: 17%;
  padding-right: 1%;
  font-size: 13px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

// .nav-wrapper {
//   display: flex;
//   justify-content: space-between;
// }

// .navbtn {
//   background: transparent;
//   color: #ffffff;
//   border: none;
//   font-size: 13px;
// }

// .navbtn:hover {
//   background: transparent;
//   color: #ffffff;
//   text-decoration: underline;
//   cursor: pointer;
// }

// .navitems {
//   vertical-align: text-bottom;
//   line-height: 5;
//   padding-right: 555px;
// }

// .nav-profile {
//   background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/profile-icon.png?raw=true');
//   background-size: 39px 35px;
//   background-position: center;
//   position: relative;
//   padding: 30px;
//   background-repeat: no-repeat;
//   cursor: pointer;
//   max-width: 100%;
//   height: auto;
// }

// .navlogo {
//   height: 30px;
//   padding: 15px;
//   border: none;
// }

.turbo-logo {
    // display: flex;
    width: 20%;
}