.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-x {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  height: auto;
  width: 3%;
}

.modal-container {
  display: flex;
  width: 400px;
  height: auto;
  background-image: image-url('modal-bg.jpg');
  border-radius: 8px;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-form {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 1.5;
  display: flex;
  width: 100%;
  align-content: center;
  flex-direction: column;
  // height: auto;
}

.modal-header {
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  margin: 5px 0px;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
}

.modal-or {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.modal-fields {
  display: flex;
  font-weight: normal;
  font-size: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-align: left;
}

.forgot-password {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  color: #59D389;
  cursor: not-allowed;
  position: absolute;
  line-height: 27px;
  right: 40px;
  font-size: 11px;
}

.fgpw {
  display: flex;
}

.email-input, .password-input, .fname-input, .lname-input {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  height: 35px;
  padding: 0px 10px;
  font-size: 15px;
  border: 1px solid #C7C7C7;
  width: 94.5%;
  margin-bottom: 15px;
}


.modal-footer {
  margin-top: 6px;
  text-align: left;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  margin-right: 10px;
}

.footer-button {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  height: 34px;
  line-height: 33px;
  padding: 0 14px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
}

.modal-button {
  background-color: #59D389;
  color: #FFFFFF;
  border: 1px solid #59D389;
  position: relative;
  width: 100%;
  height: 45px;
  line-height: 43px;
  font-size: 18px;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
}

.modal-button:hover {
  border-color: rgb(85, 200, 130);
  background-color: rgb(85, 200, 130);
}

.footer-form {
  display: flex;
  justify-content: center;
}

.modal-errors {
  display: flex;


  .modal-ul {
  margin-left: 30px;
  margin-top: 1px;
  list-style: none;
  }

  .modal-li {
    color: red;
  }

}

.google-continue {
  cursor: not-allowed;
  border: 1px solid #231f20;
  margin-bottom: 10px;
  transition-duration: 0.4s;
}

.google-continue:hover {
  background-color:rgba(0, 0, 0, 0.1);
}