.navbar {
  background-color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 5;
  font-size: 13px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}


.button-container {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.learn-drop {
  align-content: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 13px;
  padding: 0px 10px 25px 10px;
}

.navbtn {
  align-content: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 13px;
  cursor: pointer;
  padding: 0px 10px 10px 10px;
}

.navbtn:hover {
  text-decoration: underline;
}

.profile-out {
  height: 65%;
  width: 9%;
  margin-top: 5px;
  padding: 0px 10px;
}

.navbar > a {
  width: 100px;
}

.turbo-logo {
    padding-top: 7px;
    padding-left: 5px;
    width: 100px;
}

.learn-dropdown {
  height: 0px;
  top: -11px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 188px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
  // padding: 12px 16px;
  z-index: 1;
  margin-top: -14px;
  margin-left: -100px;
}

.dropdown-content:hover {
  display: block;
}

.learn-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 13px;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
}

.dropdown-link:hover {
  background-color:rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.dropdown-separator {
  background: #e6e6e6;
  display: block;
  height: 1px;
  margin: 5px;
  position: relative;
  // top: 10px;
}

.triangle-learn {
  width: 0px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-top: -10px;
  margin-left: 140px;
}

.dropdown-container {
  padding: 10px
}

.learn-drop-in {
  align-content: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 13px;
  padding: 0px 10px 25px 10px;
}

.list-in {
  align-content: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 13px;
  cursor: not-allowed;
  padding: 17px 10px 5px 10px;
  top: -11px;
  position: relative;
}

.list-in:hover {
  text-decoration: underline;
}

.list-in-1 {
  align-content: center;
  justify-content: center;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 13px;
  cursor: not-allowed;
  padding: 0px 10px 10px 10px;
  top: -11px;
  position: relative;
}

.button-container-in > a {
  text-decoration: none;
}

.list-in-1:hover {
  text-decoration: underline;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
  width: 70px
}

.profile-in {
  height: 65%;
  width: 52%;
  margin-top: 5px;
  padding: 0px 10px 0px 4px;
}


.profile-dropdown:hover .dropdown-profile-content {
  display: block;
}

.dropdown-profile-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  z-index: 1;
  margin-top: -27px;
  margin-left: -115px;
}


.triangle-profile {
  width: 0px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-top: -10px;
  margin-left: 117px;
}

.dropdown-pr-li {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 13px;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
}

.dropdown-pr-li:hover {
  background-color:rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.dropdown-pr-li:last-of-type:hover {
  background-color:rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-container-in {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}